.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.field {
  margin-bottom: 20px !important;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

.Button {
  background-color: #333 !important;
  color: #fff !important;
  border: none !important;
  border-radius: 5px !important;
}

.Button:disabled {
  background-color: #2f3032 !important;
  color: #6C6F71 !important;
}